[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"

[dev-packages]
yapf = "*"
pylint = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
