[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.2"
flask-cors = "==4.0.0"
gunicorn = "==21.2.0"
psycopg2 = "==2.9.7"
marshmallow = "==3.19.0"
markdown = "==3.4.3"
pyjwt = "==2.8.0"
boto3 = "==1.28.5"
pillow = "==10.0.0"
redis = "==4.6.0"
boto3-stubs = {version = "==1.28.5", extras = ["s3"]}

[dev-packages]
isort = "==5.12.0"
mypy = "==1.4.1"
pylint = "==2.17.4"
pytest = "==7.4.0"
pytest-cov = "==4.1.0"
python-dotenv = "==1.0.0"
yapf = "==0.40.1"
freezegun = "==1.2.2"
fakeredis = "==2.17.0"
types-redis = "==4.6.0.5"
types-markdown = "==3.4.2.9"
types-freezegun = "==1.1.10"
moto = {version = "==4.1.13", extras = ["s3"]}
types-psycopg2 = "==2.9.21.11"

[requires]
python_version = "3.9"
